<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ltz.o2o">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

   <!-- <uses-permission android:name="android.permission.CAMERA"/>-->


    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- 主页 -->
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 搜索 -->
        <activity android:name=".moudle.main.toolbar.SearchActivity" />
        <!-- 首页-优惠券 -->
        <activity android:name=".moudle.main.content.MainCouponActivity" />
        <!-- 首页-全球热卖 -->
        <activity android:name=".moudle.main.content.global_hot_sale.GlobalHotSaleActivity" />
        <!--首页-最新商品-->
        <activity android:name=".moudle.main.content.latest_goods.LatestGoodsActivity"/>

        <!-- 分类-品牌榜 -->
        <activity android:name=".moudle.classification.rightRv.Ranking.brand.BrandRankActivity" />
        /******************************************************/
        <!-- 拼团商城-多人团 -->
        <activity android:name=".moudle.collage.function.MultiplayerCollageActivity" />
        <!-- 拼团商城-商品详情 -->
        <activity android:name=".moudle.collage.content.CollageCommodityDetilsActivity" />
        <!-- 拼团详情 -->
        <activity android:name=".moudle.collage.content.join_the_group.JointheGroupActivity" />
        /******************************************************/
        <!-- 我的-地址管理 -->
        <activity android:name=".moudle.mine.address_management.AddressManagementActivity" />
        <!-- 我的-我的评价 -->
        <activity android:name=".moudle.mine.evaluate.MyEvaluateActivity" />
        <!-- 我的-我的拼团 -->
        <activity android:name=".moudle.mine.minecollage.MineCollageActivity" />
        <!-- 我的-优惠券 -->
        <activity android:name=".moudle.mine.coupon.CouponActivity" />
        <!-- 我的-收藏夹 -->
        <activity android:name=".moudle.mine.collectionfolder.CollectionFolderActivity" />
        <!-- 我的-我的订单 -->
        <activity android:name=".moudle.mine.mineorder.MineOrderActivity" />
        <!-- 我的-设置 -->
        <activity android:name=".moudle.mine.seeting.SeetingActivity" />
        <!-- 我的-消息 -->
        <activity android:name=".moudle.mine.message.MessageActivity" />
        <!-- 我的-实名认证 -->
        <activity android:name=".moudle.mine.realname_authentication.RealnameAuthenticationActivity" />
        <!-- 订单详情 -->
        <activity android:name=".moudle.mine.mineorder.orderdetails.OrderdetailsActivity" />
        <!-- 下单(提交订单) -->
        <activity android:name=".moudle.shopping_cart.place_an_order.PlaceOrderActivity" />
        /***************其他相关***************************************/
        <!-- 登录 -->
        <activity android:name=".moudle.other.LoginActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <!-- 注册 -->
        <activity android:name=".moudle.other.RegistActivity" />
        <!-- 绑定手机号 -->
        <activity android:name=".moudle.other.bind_phonenumber.BindPhonenumberActivity" />
        <!-- 短信验证 -->
        <activity android:name=".moudle.other.bind_phonenumber.SmsVerificationActivity" />





    </application>

</manifest>